body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, 80px);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #ccc;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    max-width: 100%;
    max-height: 100%;
}
