body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, 80px);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #ccc;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    max-width: 100%;
    max-height: 100%;
}

.footnote {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #412d2d;
    position: relative;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.ad-left {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: 1;
    width: 120px;
    height: 600px;
}

.ad-right {
    position: fixed;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    z-index: 1;
    width: 120px;
    height: 600px;
}

@media only screen and (max-width: 1200px) {
    .ad-left, .ad-right {
        display: none;
    }
}